<nav class="navbar navbar-expand-lg navbar-dark">
  <a *ngIf="!authService.isLoggedIn()" class="navbar-brand" routerLink="">Cakes</a>
  <a *ngIf="authService.isLoggedIn()" class="navbar-brand" routerLink="admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul *ngIf="!authService.isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li>
    </ul>
    <ul *ngIf="authService.isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/dashboard/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/dashboard/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Orders</a>
      </li>
    </ul>
    <ul *ngIf="authService.isLoggedIn()" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/dashboard">{{authService.currentUser.name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/dashboard/logout">Logout</a>
      </li>
    </ul>

  </div>
</nav>