<!--The content below is only a placeholder and can be replaced.-->
<!-- <div *ngIf="!authService.isLoggedIn()">
    <app-navbar></app-navbar>
</div>
<div *ngIf="authService.isLoggedIn()">
    <app-sidebar></app-sidebar>
</div> -->
<app-navbar></app-navbar>
<div class="container pt-0 pb-5 mt-5">
    <router-outlet></router-outlet>
</div>