<div class="row">
  <div class="col-md-10">
    <form class="pt-3 pb-3">
      <fieldset>
        <legend class="form-title pb-4">Add Project</legend>
        <div class="form-group">
          <label for="inputTitle">Project Title</label>
          <input type="text" class="form-control" id="inputTitle" aria-describedby="emailHelp" placeholder="Enter project title">
        </div>
        <div class="form-group">
          <label for="inputAuthor">Author</label>
          <input type="text" class="form-control" id="inputAuthor" placeholder="Author">
        </div>
        <div class="form-group">
          <label for="inputDesc">Project Description</label>
          <textarea [froalaEditor] class="form-control" id="inputDesc" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>