<div class="row projects">
    <div class="col-md-4 mb-4 col-offset-sm-3">
        <h3 class="mb-4 ">Projects</h3>
        <div class="card">
            <div class="card-body">
                <a class="card-link" routerLink="projects">Projects
                    <span class="total">55</span>
                </a>
                <a routerLink="projects/add-project" class="add-btn pull-right">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row users">
    <div class="col-md-4 mt-4 col-offset-sm-3">
        <h3 class="mb-4 ">Users</h3>
        <div class="card">
            <div class="card-body">
                <a class="card-link" routerLink="users">Users
                    <span>122</span>
                </a>
                <a href="" class="add-btn pull-right">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>