<section class="section section_reservation section_gray" id="section_reservation">
  <div class="container">
    <div class="row">
      <div class="col pt-5">

        <!-- Heading -->
        <h2 class="section__heading text-center">
          Please Login to continue
        </h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
        </p>

      </div>
    </div>
    <!-- / .row -->
    <div class="row justify-content-lg-center  section_reservation__row">
      <div class="col-lg-4">
        <!-- Form -->
        <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" class="form-signin pt-4 pb-4" novalidate autocomplete="off">

          <div class="form-group">
            <label for="inputUser" class="sr-only">Username</label>
            <input type="text" id="inputUser" class="form-control" [formControl]="username" placeholder="Username" autofocus>
            <div class="text-danger" *ngIf="loginForm.get('username').dirty && loginForm.get('username').invalid">
              Please enter username
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" [formControl]="password" placeholder="Password">
            <div class="text-danger" *ngIf="loginForm.get('password').dirty && loginForm.get('password').invalid">
              Please enter password
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-block lgn-btn" type="submit" [disabled]="loginForm.invalid">Sign in</button>
          </div>

          <br>
          <!-- <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">Forgot Password</div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: right">
              <a [routerLink]="['/register']">Register</a>
            </div>
          </div> -->
        </form>


      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>